@model Zawodnicy.WebApp.Models.ZawodnikVM

<h4>ZawodnikVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTrenera" class="control-label"></label>
                <input asp-for="IdTrenera" class="form-control" />
                <span asp-validation-for="IdTrenera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kraj" class="control-label"></label>
                <input asp-for="Kraj" class="form-control" />
                <span asp-validation-for="Kraj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUr" class="control-label"></label>
                <input asp-for="DataUr" class="form-control" />
                <span asp-validation-for="DataUr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wzrost" class="control-label"></label>
                <input asp-for="Wzrost" class="form-control" />
                <span asp-validation-for="Wzrost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waga" class="control-label"></label>
                <input asp-for="Waga" class="form-control" />
                <span asp-validation-for="Waga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
